header, footer {
    background-color: black;
    color: white;
}

#menuInicio a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: rgb(54, 54, 54);
    width: 80px;
    height: 25px;
    float: left;
    padding: 2px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 10px;
    line-height: 25px;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 20px;
}

footer {
    text-align: center;
}

#logos {
    margin-left: auto;
    margin-right: auto;
}