header, footer {
    background-color: black;
    color: white;
}

#menuInicio a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: rgb(54, 54, 54);
    width: auto;
    height: 25px;
    float: left;
    padding: 2px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 10px;
    line-height: 25px;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 20px;
}

footer {
    text-align: center;
}

#logos {
    margin-left: auto;
    margin-right: auto;
}

/*-----CLIENTES-------*/

.grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
}

.grid_item {
    text-align: center;
}

/*------MEDIA QUERY -------*/

@media (max-width:900px) {
    .grid_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:550px) {
    .grid_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}